%h1 My Home
%form{:action => '/blurt/create', :method => "POST"}
	%input{:name => 'blurt', :id => 'blurt'}
	%input{:type => 'Submit', :value => 'Blurt'}
	%input{:type => "hidden", :name => "authenticity_token", :value => "#{form_authenticity_token}"}
- @freets.each do |f|
	%p= "#{f.body} from @#{f.user.nickname}"